<% if @photo.user_id == current_user.id %>
    <h1>edit photo</h1>

    <%= link_to "back", :back %><br><br>

    <%= render "errors" %>

    <%= form_with model: @photo, url: user_photo_path(current_user, @photo), method: "patch" do |f| %>
        <%= render "form" %>

        <%= f.collection_select :public, Photo::CHOICES, :to_s, :to_s %><br /><br />

        <%= f.submit "update" %>
    <% end %>

    <br><%= image_tag(@photo.img_url) %><br><br><br>

    <%= button_to "delete photo", @photo, method: "delete" %><br />
<% else %>
    <h1>APP NAME</h1>
        <%= link_to "sign up", new_user_registration_path %><br />
        <%= link_to "log in", new_user_session_path %>
<% end %>