<h1><%= image_tag("boston-terrier-logo.jpg", height: "130", width: "130") %></h1>
<h2><%= current_user.name %>'s photos</h2>

<ul>
    <li id = "home"><%= link_to "home", root_path %></li>
    <li id = "new-photo"><%= link_to "upload photo", new_user_photo_path(current_user) %></li>
    <%= button_to "sign out", destroy_user_session_path, method: "delete"%><br><br><br>
</ul>

<% @photos.each do |photo| %>
    <%= link_to(image_tag(photo.img_url, height: 200, width: 200), user_photo_path(current_user, photo)) %>
<% end %>