<h1><%= image_tag("boston-terrier-logo.jpg", height: "130", width: "130") %></h1>

<% if @photo.user_id == current_user.id %>
<ul>
    <li id = "home"><%= link_to "home", root_path %></li>
    <li id = "public-feed"><%= link_to "public feed", all_path %></li>
    <li id = "my-photos"><%= link_to "my photos", user_photos_path(current_user) %></li>
    <li id = "new-photo"><%= link_to "upload photo", new_user_photo_path(current_user) %></li>
    <li id = "edit"><%= link_to "edit", edit_user_photo_path(current_user, @photo) %></li><br><br>
</ul>
    <%= image_tag(@photo.img_url) %><br />

    <div>
        <p><%= @photo.description %> (<%= @photo.public %>)</p> 

        <%= button_to "delete photo", @photo, method: "delete" %><br />
    </div>
<% else %>
    <h1><div class="logo"><%= image_tag("boston-terrier-logo.jpg", height: "130", width: "130") %></div> π…‰π„Έπ„¶π…‰π„°π„¶</h1> 
        <%= link_to "sign up", new_user_registration_path %><br />
        <%= link_to "log in", new_user_session_path %>
<% end %>
