<%= link_to "home", root_path %><br />
<%= link_to "feed", all_path %><br />
<%= link_to "edit", edit_user_photo_path %>
<%= button_to "sign out", destroy_user_session_path, method: "delete" %><br /><br />

<%= image_tag(@photo.img_url) %><br />

<div>
<p><%= @photo.description %></p>
</div>
