
<% if @photo.user_id == current_user.id %>
    <%= link_to "home", root_path %><br />
    <%= link_to "public feed", all_path %><br />
    <%= link_to "my photos", user_photos_path(current_user) %><br />
    <%= link_to "upload another photo", new_user_photo_path(current_user) %><br />
    <%= link_to "edit", edit_user_photo_path(current_user, @photo) %><br><br>

    <%= image_tag(@photo.img_url) %><br />

    <div>
        <p><%= @photo.description %> (<%= @photo.public %>)</p> 

        <%= button_to "delete photo", @photo, method: "delete" %><br />
    </div>
<% else %>
    <h2>APP NAME</h2>
        <%= link_to "sign up", new_user_registration_path %><br />
        <%= link_to "log in", new_user_session_path %>
<% end %>
