<h1><%= image_tag("boston-terrier-logo.jpg", height: "130", width: "130") %></h1>
<h2>public feed</h2>

<%= link_to "home", root_path %><br />
<%= link_to "most liked photo", most_liked_path %><br />
<%= link_to "my photos", user_photos_path(current_user) %><br />
<%= link_to "create new photo", new_user_photo_path(current_user) %><br /><br />
<%= button_to "sign out", destroy_user_session_path, method: "delete"%><br><br>

<% @photos.each do |photo| %>
    <%= image_tag(photo.img_url, height: 200, width: 200) %>
    <%= photo.likes.count %> <%= (photo.likes.count) == 1 ? "like" : "likes" %>
   <!-- | <%= photo.likes.where(type: "super like").count %> <%= (photo.likes.where(type: "super like").count) == 1 ? "super like" : "super likes" %> -->
    <%= button_to "like", photo_likes_path(photo), method: :post %><br>
    <!-- <%= button_to "super like", photo_likes_path(photo), method: :post %><br><br><br> -->

    <!-- <%= form_with model: @like, url: photo_likes_path(photo), method: "post" do |f| %> -->
    <!--    <%= f.collection_select :type, Like::CHOICES, :to_s, :to_s %> -->
    <!--    <%= f.submit "submit like" %> -->
    <!-- <% end %><br><br><br> -->
<% end %>

