<h1>rails photo dump app</h1>

<% if current_user %>  
    <%= link_to "public feed", all_path %><br />
    <%= link_to "my photos", user_photos_path(current_user) %><br />
    <%= link_to "create new photo", new_user_photo_path(current_user) %><br /><br />
    <%= button_to "sign out", destroy_user_session_path, method: "delete"%><br><br>

    <% if display_last_photo&.img_url %>
        <%= link_to(image_tag(display_last_photo.img_url, height: 350, width: 350), user_photos_path(current_user)) %>
    <% end %>
<% else %>
    <%= link_to "sign up", new_user_registration_path %><br />
    <%= link_to "log in", new_user_session_path %><br>
    
    <%= button_to "log in with google", user_google_oauth2_omniauth_authorize_path %>
<% end %>