<h1><div class="logo"><%= image_tag("boston-terrier-logo.jpg", height: "130", width: "130") %></div> π…‰π„Έπ„¶π…‰π„°π„¶</h1> 

<% if current_user %>  
    <ul>
        <li id="public-feed"><%= link_to "public feed", all_path %></li>
        <li id="my-photos"><%= link_to "my photos", user_photos_path(current_user) %></li>
        <li id="new-photo"><%= link_to "upload photo", new_user_photo_path(current_user) %></li>
        <%= button_to "sign out", destroy_user_session_path, method: "delete"%><br><br>
    </ul>
    <% pic = current_user.photos.last %>
    <% if pic&.img_url %>
        <%= link_to(image_tag(pic.img_url, height: 350, width: 350), user_photos_path(current_user)) %>
    <% end %>
<% else %>
   <center><div class="nav-container">
    <ul>
        <li id="sign-up"><%= link_to "sign up", new_user_registration_path %></li><br><br><br>
        <li id="log-in"><%= link_to "log in", new_user_session_path %></li><br><br>
    
        <%= button_to "log in with google", user_google_oauth2_omniauth_authorize_path %>
    </ul>
    </div></center>
<% end %>