<h1>APP_NAME</h1>

<% if current_user %>  
    <%= link_to "public feed", all_path %><br />
    <%= link_to "my photos", user_photos_path(current_user) %><br />
    <%= link_to "create new photo", new_user_photo_path(current_user) %><br /><br />
    <%= button_to "sign out", destroy_user_session_path, method: "delete"%>
<% else %>
    <%= link_to "sign up", new_user_registration_path %><br />
    <%= link_to "log in", new_user_session_path %>
<% end %>